# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/
learn-env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Data files (optional if datasets are large)
ratings.csv
movies.csv

# Model files
*.pkl
*.joblib

# Logs
*.log

# Environment variables
.env

# Build artifacts
build/
dist/
*.egg-info/


