# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
env/
.venv/
learn-env/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# PyCharm
.idea/

# MacOS
.DS_Store

# Large exports (IMPORTANT)
*.pdf
*.pptx
*.html

# Model files
*.pkl
*.joblib

# Logs
*.log

# Environment variables
.env


